.version.index /* version checker */
{
	color: #000014;
	background-color: #F07D32;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.5000000000007px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 30px;
}

#pu1039
{
	width: 0.01px;
	margin-left: -100px;
}

#u1039
{
	z-index: 2;
	width: 1038px;
	margin-right: -10000px;
}

#slideshowu739
{
	z-index: 4;
	width: 0.01px;
	height: 400px;
	margin-right: -10000px;
	margin-top: 162px;
	left: 122px;
}

#u748popup
{
	z-index: 5;
}

#u749
{
	z-index: 6;
	width: 480px;
	height: 360px;
	margin-right: -10000px;
}

#u749_img
{
	padding: 29px 13px 28px;
}

#u768
{
	z-index: 8;
	width: 480px;
	height: 360px;
	margin-right: -10000px;
}

#u782
{
	z-index: 10;
	width: 480px;
	height: 360px;
	margin-right: -10000px;
}

#u796
{
	z-index: 12;
	width: 480px;
	height: 360px;
	margin-right: -10000px;
}

#u748,#u768_clip,#u796_clip
{
	width: 480px;
	height: 360px;
}

#u768_img,#u796_img
{
	margin-left: -30px;
	margin-right: -30px;
}

#u810
{
	z-index: 14;
	width: 480px;
	height: 360px;
	margin-right: -10000px;
}

#u743popup
{
	z-index: 16;
}

#u743
{
	width: 349px;
	top: 360px;
}

#u744-4
{
	z-index: 17;
	width: 329px;
	min-height: 20px;
	padding: 10px;
	margin-right: -10000px;
}

#u774-4
{
	z-index: 21;
	width: 329px;
	min-height: 20px;
	padding: 10px;
	margin-right: -10000px;
}

#u788-4
{
	z-index: 25;
	width: 329px;
	min-height: 20px;
	padding: 10px;
	margin-right: -10000px;
}

#u802-4
{
	z-index: 29;
	width: 329px;
	min-height: 20px;
	padding: 10px;
	margin-right: -10000px;
}

#u816-4
{
	z-index: 33;
	width: 329px;
	min-height: 20px;
	padding: 10px;
	margin-right: -10000px;
}

#u752-4popup
{
	z-index: 37;
}

#u752-4
{
	width: 48px;
	min-height: 20px;
	padding: 10px;
	top: 360px;
	left: 381px;
}

#u742-4popup
{
	z-index: 41;
}

#u742-4
{
	width: 10px;
	min-height: 20px;
	padding: 10px;
	top: 360px;
	left: 350px;
}

#u747-4popup
{
	z-index: 45;
}

#u747-4
{
	width: 10px;
	min-height: 20px;
	padding: 10px;
	top: 360px;
	left: 450px;
}

#u820-4
{
	z-index: 49;
	width: 506px;
	margin-right: -10000px;
	margin-top: 76px;
	left: 122px;
}

#u821
{
	z-index: 53;
	width: 189px;
	padding-bottom: 126px;
	margin-right: -10000px;
	margin-top: 162px;
	left: 624px;
}

#u822-4
{
	z-index: 54;
	width: 106px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 46px;
}

#menuu1003
{
	z-index: 58;
	width: 916px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 122px;
}

#u1004
{
	width: 181px;
	min-height: 42px;
	margin-right: -10000px;
}

#u1005
{
	width: 181px;
	padding-bottom: 25px;
}

#u1005:hover
{
	margin: 0px;
}

#u1005:active
{
	margin: 0px;
}

#u1007-4
{
	width: 181px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
}

#u1005:hover #u1007-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1005:active #u1007-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1011
{
	width: 181px;
	min-height: 42px;
	margin-right: -10000px;
	left: 183px;
}

#u1012
{
	width: 181px;
	padding-bottom: 25px;
}

#u1005.MuseMenuActive,#u1012:hover
{
	margin: 0px;
}

#u1012:active
{
	margin: 0px;
}

#u1015-4
{
	width: 181px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
}

#u1005.MuseMenuActive #u1007-4,#u1012:hover #u1015-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1012:active #u1015-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1018
{
	width: 182px;
	min-height: 42px;
	margin-right: -10000px;
	left: 366px;
}

#u1021
{
	width: 182px;
	padding-bottom: 25px;
}

#u1012.MuseMenuActive,#u1021:hover
{
	margin: 0px;
}

#u1021:active
{
	margin: 0px;
}

#u1023-4
{
	width: 182px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
}

#u1012.MuseMenuActive #u1015-4,#u1021:hover #u1023-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1021:active #u1023-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1025
{
	width: 182px;
	min-height: 42px;
	margin-right: -10000px;
	left: 550px;
}

#u1028
{
	width: 182px;
	padding-bottom: 25px;
}

#u1021.MuseMenuActive,#u1028:hover
{
	margin: 0px;
}

#u1028:active
{
	margin: 0px;
}

#u1030-4
{
	width: 182px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
}

#u1021.MuseMenuActive #u1023-4,#u1028:hover #u1030-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1028:active #u1030-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1032
{
	width: 182px;
	min-height: 42px;
	margin-right: -10000px;
	left: 734px;
}

#u1035
{
	width: 182px;
	padding-bottom: 25px;
}

#u1028.MuseMenuActive,#u1035:hover
{
	margin: 0px;
}

#u1035:active
{
	margin: 0px;
}

#u1035.MuseMenuActive
{
	margin: 0px;
}

#u1037-4
{
	width: 182px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
}

#u1028.MuseMenuActive #u1030-4,#u1035:hover #u1037-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1035:active #u1037-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1035.MuseMenuActive #u1037-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u372
{
	z-index: 95;
	width: 251px;
	background-color: transparent;
	margin-left: 22px;
	margin-top: 455px;
	position: relative;
}

#buttonu369
{
	z-index: 89;
	width: 231px;
	border-color: #787878;
	background-color: #CACACA;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 9px;
	margin-left: 646px;
	top: -18px;
	margin-bottom: -18px;
	position: relative;
}

#buttonu369:hover
{
	background-color: #545454;
	margin: 0px 0px -18px 646px;
}

#buttonu369.ButtonSelected
{
	background-color: #CACACA;
	margin: 0px 0px -18px 646px;
}

#u371-4
{
	z-index: 90;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #3C3C3C;
	font-size: 14px;
	letter-spacing: 1px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 68px;
}

#buttonu369:hover #u371-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 18px -10000px 0px 0px;
}

#buttonu369.ButtonSelected #u371-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 18px -10000px 0px 0px;
}

#buttonu369:hover #u371-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu369.ButtonSelected #u371-4 p
{
	color: #3C3C3C;
	visibility: inherit;
}

#u370
{
	z-index: 94;
	width: 18px;
	height: 17px;
	border-color: #000000;
	background-color: #545454;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 51px;
}

#buttonu369:hover #u370
{
	background-color: #FFFFFF;
	margin: 17px -10000px 0px 0px;
}

#buttonu369.ButtonSelected #u370
{
	background-color: #545454;
	margin: 17px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

