.version.short_term /* version checker */
{
	color: #000011;
	background-color: #01EFE5;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u412
{
	z-index: 2;
	width: 1778px;
	margin-right: -10000px;
	margin-top: -459px;
	left: -1107px;
}

#u819
{
	z-index: 4;
	width: 790px;
	padding-bottom: 140px;
	margin-right: -10000px;
	margin-top: 9px;
	left: -17px;
}

#u820-4
{
	z-index: 50;
	width: 506px;
	margin-right: -10000px;
	margin-top: 88px;
	left: 102px;
}

#u821
{
	z-index: 54;
	width: 189px;
	padding-bottom: 252px;
	margin-right: -10000px;
	margin-top: 152px;
	left: 608px;
}

#u822-4
{
	z-index: 55;
	width: 150px;
	min-height: 44px;
	margin-right: -10000px;
	margin-top: 52px;
	left: 19px;
}

#slideshowu739
{
	z-index: 5;
	width: 0.01px;
	height: 400px;
	margin-right: -10000px;
	margin-top: 162px;
	left: 65px;
}

#u748popup
{
	z-index: 6;
}

#u749
{
	z-index: 7;
	width: 480px;
	height: 360px;
	margin-right: -10000px;
}

#u749_img
{
	padding: 29px 13px 28px;
}

#u768
{
	z-index: 9;
	width: 480px;
	height: 360px;
	margin-right: -10000px;
}

#u782
{
	z-index: 11;
	width: 480px;
	height: 360px;
	margin-right: -10000px;
}

#u796
{
	z-index: 13;
	width: 480px;
	height: 360px;
	margin-right: -10000px;
}

#u748,#u768_clip,#u796_clip
{
	width: 480px;
	height: 360px;
}

#u768_img,#u796_img
{
	margin-left: -30px;
	margin-right: -30px;
}

#u810
{
	z-index: 15;
	width: 480px;
	height: 360px;
	margin-right: -10000px;
}

#u743popup
{
	z-index: 17;
}

#u743
{
	width: 349px;
	top: 360px;
}

#u744-4
{
	z-index: 18;
	width: 329px;
	min-height: 20px;
	padding: 10px;
	margin-right: -10000px;
}

#u774-4
{
	z-index: 22;
	width: 329px;
	min-height: 20px;
	padding: 10px;
	margin-right: -10000px;
}

#u788-4
{
	z-index: 26;
	width: 329px;
	min-height: 20px;
	padding: 10px;
	margin-right: -10000px;
}

#u802-4
{
	z-index: 30;
	width: 329px;
	min-height: 20px;
	padding: 10px;
	margin-right: -10000px;
}

#u816-4
{
	z-index: 34;
	width: 329px;
	min-height: 20px;
	padding: 10px;
	margin-right: -10000px;
}

#u752-4popup
{
	z-index: 38;
}

#u752-4
{
	width: 48px;
	min-height: 20px;
	padding: 10px;
	top: 360px;
	left: 381px;
}

#u742-4popup
{
	z-index: 42;
}

#u742-4
{
	width: 10px;
	min-height: 20px;
	padding: 10px;
	top: 360px;
	left: 350px;
}

#u747-4popup
{
	z-index: 46;
}

#u747-4
{
	width: 10px;
	min-height: 20px;
	padding: 10px;
	top: 360px;
	left: 450px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

