.version.untitled_8 /* version checker */
{
	color: #0000FF;
	background-color: #29AA43;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1426px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

#pmenuu99
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 22px;
}

#menuu99
{
	z-index: 4;
	width: 1038px;
}

#u107
{
	width: 206px;
	min-height: 54px;
	margin-right: -10000px;
}

#u110
{
	width: 206px;
	padding-bottom: 37px;
}

#u110:hover
{
	margin: 0px;
}

#u110:active
{
	margin: 0px;
}

#u113-4
{
	width: 192px;
	min-height: 17px;
	margin-right: -10000px;
	top: 18px;
}

#u110:hover #u113-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u110:active #u113-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u111
{
	z-index: 11;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 20px;
	left: 192px;
}

#u110:hover #u111
{
	margin: 0px -10000px 0px 0px;
}

#u110:active #u111
{
	margin: 0px -10000px 0px 0px;
}

#u901
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u901:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u903-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u901:hover #u903-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u100
{
	width: 206px;
	min-height: 54px;
	margin-right: -10000px;
	left: 208px;
}

#u103
{
	width: 206px;
	padding-bottom: 37px;
}

#u110.MuseMenuActive,#u103:hover
{
	margin: 0px;
}

#u103:active
{
	margin: 0px;
}

#u105-4
{
	width: 206px;
	min-height: 17px;
	margin-right: -10000px;
	top: 18px;
}

#u110.MuseMenuActive #u113-4,#u103:hover #u105-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u103:active #u105-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u115
{
	width: 206px;
	min-height: 54px;
	margin-right: -10000px;
	left: 416px;
}

#u116
{
	width: 206px;
	padding-bottom: 37px;
}

#u103.MuseMenuActive,#u116:hover
{
	margin: 0px;
}

#u116:active
{
	margin: 0px;
}

#u119-4
{
	width: 192px;
	min-height: 17px;
	margin-right: -10000px;
	top: 18px;
}

#u103.MuseMenuActive #u105-4,#u116:hover #u119-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u116:active #u119-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u117
{
	z-index: 32;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 20px;
	left: 192px;
}

#u110.MuseMenuActive #u111,#u116:hover #u117
{
	margin: 0px -10000px 0px 0px;
}

#u116:active #u117
{
	margin: 0px -10000px 0px 0px;
}

#u116.MuseMenuActive #u117
{
	margin: 0px -10000px 0px 0px;
}

#u108,#u120
{
	width: 120px;
	top: 54px;
}

#u109,#u900,#u121,#u923
{
	width: 120px;
}

#u924
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u901.MuseMenuActive,#u924:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u924.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u926-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u901.MuseMenuActive #u903-4,#u924:hover #u926-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u924.MuseMenuActive #u926-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u122
{
	width: 206px;
	min-height: 54px;
	margin-right: -10000px;
	left: 624px;
}

#u125
{
	width: 206px;
	padding-bottom: 37px;
}

#u116.MuseMenuActive,#u125:hover
{
	margin: 0px;
}

#u125:active
{
	margin: 0px;
}

#u127-4
{
	width: 206px;
	min-height: 17px;
	margin-right: -10000px;
	top: 18px;
}

#u116.MuseMenuActive #u119-4,#u125:hover #u127-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u125:active #u127-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u129
{
	width: 206px;
	min-height: 54px;
	margin-right: -10000px;
	left: 832px;
}

#u132
{
	width: 206px;
	padding-bottom: 37px;
}

#u125.MuseMenuActive,#u132:hover
{
	margin: 0px;
}

#u132:active
{
	margin: 0px;
}

#u132.MuseMenuActive
{
	margin: 0px;
}

#u135-4
{
	width: 206px;
	min-height: 17px;
	margin-right: -10000px;
	top: 18px;
}

#u125.MuseMenuActive #u127-4,#u132:hover #u135-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u132:active #u135-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u132.MuseMenuActive #u135-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#ppu145
{
	width: 0.01px;
}

#pu145
{
	z-index: 58;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	margin-left: 33px;
}

#u145
{
	z-index: 0;
	width: 341px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

._u145.f3s_top
{
	width: 341px;
	height: 12px;
}

._u145.f3s_mid
{
	width: 341px;
	height: 24px;
}

._u145.f3s_bot
{
	width: 341px;
	height: 10px;
}

#pu146-4
{
	width: 0.01px;
	position: relative;
	padding-top: 11px;
	z-index: 2;
	padding-bottom: 1px;
}

#u146-4
{
	z-index: 59;
	margin-right: -10000px;
}

#u684
{
	z-index: 2;
	width: 1038px;
	margin-right: -10000px;
}

#u143
{
	z-index: 53;
	width: 288px;
	padding-bottom: 3px;
	margin-right: -10000px;
	margin-top: 53px;
	left: 595px;
}

#u144-4
{
	z-index: 54;
	width: 227px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 14px;
}

#u307-4
{
	z-index: 63;
	width: 248px;
	min-height: 13px;
	margin-right: -10000px;
	margin-top: 75px;
	left: 132px;
}

#u983
{
	z-index: 98;
	width: 135px;
	height: 479px;
	margin-right: -10000px;
	margin-top: 161px;
	left: 546px;
}

#pu691-24
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: -1px;
}

#u691-24
{
	z-index: 67;
	width: 603px;
	margin-right: -10000px;
}

#u695-7
{
	z-index: 91;
	width: 160px;
	min-height: 322px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 748px;
}

#u984
{
	z-index: 99;
	width: 168px;
	margin-right: -10000px;
	margin-top: 1497px;
	left: 22px;
}

#u993
{
	z-index: 103;
	width: 168px;
	margin-right: -10000px;
	margin-top: 1497px;
	left: 210px;
}

#u990
{
	z-index: 101;
	width: 168px;
	margin-right: -10000px;
	margin-top: 1497px;
	left: 398px;
}

#u996
{
	z-index: 105;
	width: 168px;
	margin-right: -10000px;
	margin-top: 1497px;
	left: 584px;
}

#u999
{
	z-index: 107;
	width: 168px;
	margin-right: -10000px;
	margin-top: 1497px;
	left: 771px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 25px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -1496px;
}

