<%= featured_property_photos[0] %>
		<%# if featured_property_photos.count > 0 %>
			<%# photo_url = featured_property_photos[0].image_url.to_s %>
			<%# image_tag photo_url, alt: "attachment-property-regular wp-post-image",
				alt: "Fantastic-Fendi-Villa-in-Miami-Beach-Florida-17", 
				class: "attachment-property-regular wp-post-image", 
				width:"800", height: "454" %>
		<%# else %>
			<%# image_tag "fallback/default.png" %>
		<%# end %>
<!-- <img width="800" height="454" src="http://demo.favethemes.com/wp/realto/wp-content/uploads/2014/02/Fantastic-Fendi-Villa-in-Miami-Beach-Florida-17-800x454.jpg" class="attachment-property-regular wp-post-image" alt="Fantastic-Fendi-Villa-in-Miami-Beach-Florida-17" />            </a> -->
