<section id="WizardHero" class="hero-banner-wrap background d-col-ads core-wizard-loaded">
    <div data-src="http://pagead2.googlesyndication.com/pagead/imgad?id=CICAgKDjna2UmAEQARgBMgigbpxwmcPACA" class="hero-banner background" style="background-image: url(&quot;http://pagead2.googlesyndication.com/pagead/imgad?id=CICAgKDjna2UmAEQARgBMgigbpxwmcPACA&quot;);">
        <div class="hero-banner-gradient"><div class="cols-row hero-banner-inner">
            <div class="hero-banner-box cf">
                Travelocity type of banner and background goes here
            </div>
        </div>
    </div>
</section>