<div class="container page-content">
    <div class="row">
        <div class="span8">
            <div class="box-container">
                              
                               <div class="cycle-slideshow"
                    data-cycle-fx=fade
                    data-cycle-timeout=0
                    data-cycle-swipe=true
                    data-cycle-pager="#adv-custom-pager"
                    data-cycle-pager-template='<a href="#" ><img src="{{src}}"></a>'
                    data-cycle-prev="#prev"
                    data-cycle-next="#next"
                >
                								<img alt="image" src="http://demo.favethemes.com/wp/realto/wp-content/uploads/2014/02/210-1024x682.jpg" class="media-object">
					
												<img alt="image" src="http://demo.favethemes.com/wp/realto/wp-content/uploads/2014/02/79-1024x687.jpg" class="media-object">
					
												<img alt="image" src="http://demo.favethemes.com/wp/realto/wp-content/uploads/2014/02/510-1024x681.jpg" class="media-object">
					
												<img alt="image" src="http://demo.favethemes.com/wp/realto/wp-content/uploads/2014/02/49-1024x682.jpg" class="media-object">
					
					                                     </div><!-- .cycle-slideshow -->
                 <div id="adv-custom-pager"></div>
                                  
                                             
                <div class="clearfix">
                    <div class="clearfix padding30">
                        <h2 class="prop-title pull-left margin0">199 S Beacon St, San Pedro, CA 90731</h2>
                        <span class="prop-price pull-right serif italic">$1,230/week</span>
                    </div>
                    <div class="clearfix padding030 row-fluid">
                        <ul class="more-info mylist">
                            
                                                            <li class="info-label span6 clearfix">
                                    <span class="pull-left">ID</span>
                                    <span class="qty pull-right">PROP-&shy;05</span>
                                </li>
                                                        
                            <li class="info-label span6 clearfix">
                            	<span class="pull-left">Listing type:</span>
                                <span class="qty pull-right">
									For Rent                               </span>
                            </li>
                            
							                                <li class="info-label span6 clearfix">
                                    <span class="pull-left">Bedrooms</span>
                                    <span class="qty pull-right">2 </span>
                                </li>
                                                        
                                                            <li class="info-label span6 clearfix">
                                    <span class="pull-left">Bathrooms</span>
                                    <span class="qty pull-right">2 </span>
                                </li>
                                                        
                                                            <li class="info-label span6 clearfix">
                                    <span class="pull-left">Plot Size</span>
                                    <span class="qty pull-right">1900 sqft</span>
                                </li>
                                                        
                                                            <li class="info-label span6 clearfix">
                                    <span class="pull-left">Living Area</span>
                                    <span class="qty pull-right">1450 sqft</span>
                                </li>
                                                        
                                                            <li class="info-label span6 clearfix">
                                    <span class="pull-left">Terrace</span>
                                    <span class="qty pull-right">140 sqft</span>
                                </li>
                                                        
                            <li class="info-label span6 clearfix">
                            	<span class="pull-left">Property type:</span>
                                <span class="qty pull-right">Condo</span>
                            </li>
                            
                                                            <li class="info-label span6 clearfix">
                                    <span class="pull-left">Parking</span>
                                    <span class="qty pull-right">Assigned</span>
                                </li>
                                                        
                                                            <li class="info-label span6 clearfix">
                                    <span class="pull-left">Heating</span>
                                    <span class="qty pull-right">Central</span>
                                </li>
                                                        
                                                            <li class="info-label span6 clearfix">
                                    <span class="pull-left">Neighborhood</span>
                                    <span class="qty pull-right">Ocean Front</span>
                                </li>
                                                        
                                                            <li class="info-label span6 clearfix">
                                    <span class="pull-left">Built In</span>
                                    <span class="qty pull-right">1990</span>
                                </li>
                                                        
                                                    <!--</ul>
                        <ul class="more-info pull-right span6">-->
                            
                            
                        </ul>
                    </div>
                    <div class="clearfix padding030">
                        <h3>Property Description</h3>
                        <p><b>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.</b> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                    </div>
                    
                                        
                    <div class="span8">
                        <div class="margin300 additional_features">    
                            <h3>Additional Features</h3>
                            							<ul>
								                                        <li><a href="http://demo.favethemes.com/wp/realto/features/garage/">Garage</a></li>
                                          
                                                                        <li><a href="http://demo.favethemes.com/wp/realto/features/high-school/">High School</a></li>
                                          
                                                                        <li><a href="http://demo.favethemes.com/wp/realto/features/museum/">Museum</a></li>
                                          
                                                                        <li><a href="http://demo.favethemes.com/wp/realto/features/park/">Park</a></li>
                                          
                                                                        <li><a href="http://demo.favethemes.com/wp/realto/features/private-gym/">Private Gym</a></li>
                                          
                                                                        <li><a href="http://demo.favethemes.com/wp/realto/features/private-pool/">Private Pool</a></li>
                                          
                                                                        <li><a href="http://demo.favethemes.com/wp/realto/features/private-sauna/">Private Sauna</a></li>
                                          
                                                            </ul>
                        	                            <h3>Documents</h3>
                                                                <a href="http://demo.favethemes.com/wp/realto/wp-content/uploads/2014/02/lorem_ipsum.pdf.zip" class="btn btn-realto">Download</a>			
                                                    
                        </div>
                       
                    </div><!-- span8 -->
                   
                </div>
                               
            </div>
            
                        
        </div>
        <!-- .span8 -->
        
        <div class="span4">
                        
				                    <div class="widget map box-container padding30">
                        <h3 class="widget-title">Map &amp; Directions</h3>
                        <div id="map-listing-single"></div>
                        <script type="text/javascript"> 
                            jQuery(document).ready(function() {
                                jQuery("#map-listing-single").goMap({ 
                                    markers: [{  
                                        address: "199 S Beacon St, San Pedro, CA 90731", 
                                        title: '199 S Beacon St, San Pedro, CA 90731' ,
                                        icon: ''
                                    }],
                                    disableDoubleClickZoom: true,
                                    zoom: 15,
                                    maptype: 'ROADMAP'
                                }); 
            
                            });
                        </script>
                        
                        <iframe src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=199+S+Beacon+St%2C+San+Pedro%2C+CA+90731&amp;output=embed"></iframe>
                    </div>
                                                                
             
            
            <div class="widget agent-box box-container clearfix padding30">
                <div class="clearfix">
                    <div class="pull-left">
                        <img alt='Shirley Guzman' src='http://demo.favethemes.com/wp/realto/wp-content/uploads/2014/02/Shirley-Guzman_avatar_1391639635-70x70.jpg' class='avatar avatar-70 photo' height='70' width='70' />                    </div>
                    <div class="pull-left">
                        <h3>Contact Agent</h3>
                        <ul>
                            <li>Shirley Guzman</li>
                            <li>
								(987) 654 3210                            </li>
                            <li><a href="http://demo.favethemes.com/wp/realto/author/agent4/">View my listing</a></li>
                        </ul>
                    </div>
                </div>
                                <form method="post" action="http://demo.favethemes.com/wp/realto/property/199-s-beacon-st-san-pedro-ca-90731/">
                <input type="hidden" name="submitted" id="submitted" value="true" />   
                    <input class="input-block-level" name="sender_name" required="required" type="text" placeholder="Your name">
                    <input class="input-block-level" required="required" name="sender_email" type="email" placeholder="Your email">
                    <textarea class="input-block-level" name="sender_msg" required="required" rows="5">Hello, I'm interested in [199 S Beacon St, San Pedro, CA 90731]</textarea>
                    <button type="submit" class="btn btn-realto">Contact Agent</button>
                </form>
            </div>
            <!-- .agent-box -->
            
        </div>
        <!-- .span4 -->
    </div>
    <!-- .row -->
</div>

