<div class="container page-content blog">
    <div class="row">
		<h1 id="notice"><%= notice %></h1>

		<p>
		
		<%= render :partial => '/shared/wizard_hero' %>
    </div>

	<div class="row">
		<div class="span12">
			<div class="padding30">
			</div>
		</div>
	</div>
	<div class="row">
	    <div class="span8">
        
	        <div class="row">
	            <%= render :partial => '/shared/main_marketing_pitch' %>
	    	</div>
		</div>
	<!-- .post -->	
	

	            <!-- .post -->
            
        <!-- .row -->
    
        <!-- .row -->
</div>
    <!-- .span8 -->
<div class="span4">
        

        
	<div class="con-sidebar">
    			<%# render :partial => '/shared/seven_secrets_form_widget' %>
	</div>    
</div>
    <!-- .span4 -->
</div>
<!-- .row -->
</div>
<!--featured properties start -->
		<%= render :partial => '/shared/featured_properties' %>
<!--featured properties finish -->
