<div class="span12 box-container">

                        <div class="holder row">

                            

							
	<a class="span4 overlay" href="http://demo.favethemes.com/wp/realto/property/1198-museum-mile-new-york-ny-10029/" title="1198 Museum Mile, New York, NY 10029">
		<span class="more"></span>
                	<span class="prop-price-tag">$2,300/month</span>
        		            
			<img src="http://demo.favethemes.com/wp/realto/wp-content/uploads/2014/02/Schermata-2014-02-05-alle-13.28.20-800x454.png" class="attachment-property-regular wp-post-image" alt="Schermata 2014-02-05 alle 13.28.20" height="454" width="800">        
			</a>

                            

                            <span class="prop-tag">

								For Rent
                          	</span>

                            <div class="span8 prop-info">

                                <h3 class="prop-title"> 1198 Mickey Mile, New York, NY 10029</h3>

                                <ul class="more-info clearfix">

                                       <li class="info-label clearfix">
        <span class="pull-left">Bedrooms</span>
        <span class="qty pull-right">3 </span>
    </li>
            <li class="info-label clearfix">
        <span class="pull-left">Bathrooms</span>
        <span class="qty pull-right">2 </span>
   </li>
      
      
      
      
         
            
                                </ul>

                            </div>

                        </div>

                    </div>