<div class="clearfix padding030 row-fluid">
	<ul class="more-info mylist">
		<li class="info-label span6 clearfix">
			<span class="pull-left">ID</span> <span class="qty pull-right"><%= more_info.title %></span>
		</li>
		<li class="info-label span6 clearfix">
			<span class="pull-left">Listing type:</span> <span class="qty pull-right">For Rent</span>
		</li>
		<li class="info-label span6 clearfix">
			<span class="pull-left">Bedrooms</span> <span class="qty pull-right"><%= more_info.bed %></span>
		</li>
		<li class="info-label span6 clearfix">
			<span class="pull-left">Bathrooms</span> <span class="qty pull-right"><%= more_info.bath %></span>
		</li>
		<!-- <li class="info-label span6 clearfix">
			<span class="pull-left">Plot Size</span> <span class="qty pull-right">394 sqft</span>
		</li>
		<li class="info-label span6 clearfix">
			<span class="pull-left">Living Area</span> <span class="qty pull-right">2800 sqft</span>
		</li> -->
		<!-- <li class="info-label span6 clearfix">
			<span class="pull-left">Terrace</span> <span class="qty pull-right">200 sqft</span>
		</li> -->
		<li class="info-label span6 clearfix">
			<span class="pull-left">Property type:</span> <span class="qty pull-right">Condo</span>
		</li>
		<!-- <li class="info-label span6 clearfix">
			<span class="pull-left">Parking</span> <span class="qty pull-right">Not Assigned</span>
		</li> -->
		<li class="info-label span6 clearfix">
			<span class="pull-left">Heating</span> <span class="qty pull-right">Central</span>
		</li>
		<li class="info-label span6 clearfix">
			<span class="pull-left">Neighborhood</span> <span class="qty pull-right"><%= more_info.neighborhood.title %></span>
	</ul>
	<ul class="more-info pull-right span6">
	</ul>
</div>
