			<div class="cycle-slideshow"
                    data-cycle-fx=fade
                    data-cycle-timeout=0
                    data-cycle-swipe=true
                    data-cycle-pager="#adv-custom-pager"
                    data-cycle-pager-template='<a href="#" ><img src="{{src}}"></a>'
                    data-cycle-prev="#prev"
                    data-cycle-next="#next"
                >
				<% if @photos.size > 0 %>
					<% @photos.each do |photo| %>
					<%= image_tag photo.image.url, alt: "image", class: "media-object" %>
					<% end %>
				<% else %>
					<%= image_tag "fallback/default.png" %>
				<% end %>
					
			</div><!-- .cycle-slideshow -->

                               
