


<div class="container page-content">

    <div class="row">

        <div class="span12">

            <div class="row">

                

                
				<%= render @locations %>

			   
            </div>

            <!-- .row -->

        </div>

        <!-- .span12 -->

        

    </div>

    <!-- .row -->

</div>

<!-- .container -->



<!-- Page Content -->

<div class="container">

    <div class="row">

	
                            

            
                

     
     
	</div>

</div>
