


<div class="container page-content">

    <div class="row">

        <div class="span12">

            <div class="row">

                

                
				<%= render :partial => "index_item", :collection => @locations %>

                    <div class="span12 box-container">
                        <div class="holder row">

                            

							
	<a class="span4 overlay" href="http://demo.favethemes.com/wp/realto/property/872-5th-ave-new-york-ny-10037/" title="872 5th Ave, New York, NY 10037">
		<span class="more"></span>
                	<span class="prop-price-tag">$3,400/month</span>
        		            
			<img src="http://demo.favethemes.com/wp/realto/wp-content/uploads/2014/02/Schermata-2014-02-05-alle-10.58.441-800x454.png" class="attachment-property-regular wp-post-image" alt="Schermata 2014-02-05 alle 10.58.44" height="454" width="800">        
			</a>

                            

                            <span class="prop-tag">

								For Rent
                          	</span>

                            <div class="span8 prop-info">

                                <h3 class="prop-title">872 5th Ave, New York, NY 10037</h3>

                                <ul class="more-info clearfix">

                                       <li class="info-label clearfix">
        <span class="pull-left">Bedrooms</span>
        <span class="qty pull-right">3 </span>
    </li>
            <li class="info-label clearfix">
        <span class="pull-left">Bathrooms</span>
        <span class="qty pull-right">2 </span>
   </li>
      
      
      
      
         
            
                                </ul>

                            </div>

                        </div>

                    </div>

               
						

                    <div class="span12 box-container">

                        <div class="holder row">

                            

							
	<a class="span4 overlay" href="http://demo.favethemes.com/wp/realto/property/1198-museum-mile-new-york-ny-10029/" title="1198 Museum Mile, New York, NY 10029">
		<span class="more"></span>
                	<span class="prop-price-tag">$2,300/month</span>
        		            
			<img src="http://demo.favethemes.com/wp/realto/wp-content/uploads/2014/02/Schermata-2014-02-05-alle-13.28.20-800x454.png" class="attachment-property-regular wp-post-image" alt="Schermata 2014-02-05 alle 13.28.20" height="454" width="800">        
			</a>

                            

                            <span class="prop-tag">

								For Rent
                          	</span>

                            <div class="span8 prop-info">

                                <h3 class="prop-title">1198 Museum Mile, New York, NY 10029</h3>

                                <ul class="more-info clearfix">

                                       <li class="info-label clearfix">
        <span class="pull-left">Bedrooms</span>
        <span class="qty pull-right">3 </span>
    </li>
            <li class="info-label clearfix">
        <span class="pull-left">Bathrooms</span>
        <span class="qty pull-right">2 </span>
   </li>
      
      
      
      
         
            
                                </ul>

                            </div>

                        </div>

                    </div>

               
						

                    <div class="span12 box-container">

                        <div class="holder row">

                            

							
	<a class="span4 overlay" href="http://demo.favethemes.com/wp/realto/property/406-central-park-west-new-york-ny-10025/" title="406 Central Park West, New York, NY 10025">
		<span class="more"></span>
                	<span class="prop-price-tag">$4,500,000</span>
        		            
			<img src="http://demo.favethemes.com/wp/realto/wp-content/uploads/2014/02/Schermata-2014-02-05-alle-13.28.35-800x454.png" class="attachment-property-regular wp-post-image" alt="Schermata 2014-02-05 alle 13.28.35" height="454" width="800">        
			</a>

                            

                            <span class="prop-tag">

								For Sale
                          	</span>

                            <div class="span8 prop-info">

                                <h3 class="prop-title">406 Central Park West, New York, NY 10025</h3>

                                <ul class="more-info clearfix">

                                       <li class="info-label clearfix">
        <span class="pull-left">Bedrooms</span>
        <span class="qty pull-right">2 </span>
    </li>
            <li class="info-label clearfix">
        <span class="pull-left">Bathrooms</span>
        <span class="qty pull-right">3 </span>
   </li>
      
      
      
      
         
            
                                </ul>

                            </div>

                        </div>

                    </div>

               
						

                    <div class="span12 box-container">

                        <div class="holder row">

                            

							
	<a class="span4 overlay" href="http://demo.favethemes.com/wp/realto/property/199-s-beacon-st-san-pedro-ca-90731/" title="199 S Beacon St, San Pedro, CA 90731">
		<span class="more"></span>
                	<span class="prop-price-tag">$1,230/week</span>
        		            
			<img src="http://demo.favethemes.com/wp/realto/wp-content/uploads/2014/02/Fantastic-Fendi-Villa-in-Miami-Beach-Florida-17-800x454.jpg" class="attachment-property-regular wp-post-image" alt="Fantastic-Fendi-Villa-in-Miami-Beach-Florida-17" height="454" width="800">        
			</a>

                            

                            <span class="prop-tag">

								For Rent
                          	</span>

                            <div class="span8 prop-info">

                                <h3 class="prop-title">199 S Beacon St, San Pedro, CA 90731</h3>

                                <ul class="more-info clearfix">

                                       <li class="info-label clearfix">
        <span class="pull-left">Bedrooms</span>
        <span class="qty pull-right">2 </span>
    </li>
            <li class="info-label clearfix">
        <span class="pull-left">Bathrooms</span>
        <span class="qty pull-right">2 </span>
   </li>
      
      
      
      
         
            
                                </ul>

                            </div>

                        </div>

                    </div>

               
						

                    <div class="span12 box-container">

                        <div class="holder row">

                            

							
	<a class="span4 overlay" href="http://demo.favethemes.com/wp/realto/property/1262-e-broadway-long-beach-ca-90802/" title="1262 E Broadway, Long Beach, CA 90802">
		<span class="more"></span>
                	<span class="prop-price-tag">$3,500,000</span>
        		            
			<img src="http://demo.favethemes.com/wp/realto/wp-content/uploads/2014/02/Miami-Villa-2000x1333-800x454.jpg" class="attachment-property-regular wp-post-image" alt="Miami-Villa-2000x1333" height="454" width="800">        
			</a>

                            

                            <span class="prop-tag">

								For Sale
                          	</span>

                            <div class="span8 prop-info">

                                <h3 class="prop-title">1262 E Broadway, Long Beach, CA 90802</h3>

                                <ul class="more-info clearfix">

                                       <li class="info-label clearfix">
        <span class="pull-left">Bedrooms</span>
        <span class="qty pull-right">3 </span>
    </li>
            <li class="info-label clearfix">
        <span class="pull-left">Bathrooms</span>
        <span class="qty pull-right">3 </span>
   </li>
      
      
      
      
         
            
                                </ul>

                            </div>

                        </div>

                    </div>

               
						

                    <div class="span12 box-container">

                        <div class="holder row">

                            

							
	<a class="span4 overlay" href="http://demo.favethemes.com/wp/realto/property/1139-e-ocean-blvd-long-beach-ca-90803/" title="1139 E Ocean Blvd, Long Beach, CA 90803">
		<span class="more"></span>
                	<span class="prop-price-tag">$2,500/month</span>
        		            
			<img src="http://demo.favethemes.com/wp/realto/wp-content/uploads/2014/02/5cdac056-8469-4c25-aedf-2d03d4a744b4.1-800x454.jpg" class="attachment-property-regular wp-post-image" alt="5cdac056-8469-4c25-aedf-2d03d4a744b4.1" height="454" width="800">        
			</a>

                            

                            <span class="prop-tag">

								For Rent
                          	</span>

                            <div class="span8 prop-info">

                                <h3 class="prop-title">1139 E Ocean Blvd, Long Beach, CA 90803</h3>

                                <ul class="more-info clearfix">

                                       <li class="info-label clearfix">
        <span class="pull-left">Bedrooms</span>
        <span class="qty pull-right">4 </span>
    </li>
            <li class="info-label clearfix">
        <span class="pull-left">Bathrooms</span>
        <span class="qty pull-right">3 </span>
   </li>
      
      
      
      
         
            
                                </ul>

                            </div>

                        </div>

                    </div>

               
						

                    <div class="span12 box-container">

                        <div class="holder row">

                            

							
	<a class="span4 overlay" href="http://demo.favethemes.com/wp/realto/property/3003-indian-creek-dr-miami-beach-fl-33140/" title="3003 Indian Creek Dr, Miami Beach, FL 33140">
		<span class="more"></span>
                	<span class="prop-price-tag">$2,850,000</span>
        		            
			<img src="http://demo.favethemes.com/wp/realto/wp-content/uploads/2014/02/231-800x454.jpg" class="attachment-property-regular wp-post-image" alt="23" height="454" width="800">        
			</a>

                            

                            <span class="prop-tag">

								Sold
                          	</span>

                            <div class="span8 prop-info">

                                <h3 class="prop-title">3003 Indian Creek Dr, Miami Beach, FL 33140</h3>

                                <ul class="more-info clearfix">

                                       <li class="info-label clearfix">
        <span class="pull-left">Bedrooms</span>
        <span class="qty pull-right">4 </span>
    </li>
            <li class="info-label clearfix">
        <span class="pull-left">Bathrooms</span>
        <span class="qty pull-right">3 </span>
   </li>
      
      
      
      
         
            
                                </ul>

                            </div>

                        </div>

                    </div>

               
						

                    <div class="span12 box-container">

                        <div class="holder row">

                            

							
	<a class="span4 overlay" href="http://demo.favethemes.com/wp/realto/property/5299-pine-tree-dr-miami-beach-fl-33140/" title="5299 Pine Tree Dr, Miami Beach, FL 33140">
		<span class="more"></span>
                	<span class="prop-price-tag">$2,430,000</span>
        		            
			<img src="http://demo.favethemes.com/wp/realto/wp-content/uploads/2014/02/Star-Island-Villa_1-800x454.jpg" class="attachment-property-regular wp-post-image" alt="Star-Island-Villa_1" height="454" width="800">        
			</a>

                            

                            <span class="prop-tag">

								For Sale
                          	</span>

                            <div class="span8 prop-info">

                                <h3 class="prop-title">5299 Pine Tree Dr, Miami Beach, FL 33140</h3>

                                <ul class="more-info clearfix">

                                       <li class="info-label clearfix">
        <span class="pull-left">Bedrooms</span>
        <span class="qty pull-right">3 </span>
    </li>
            <li class="info-label clearfix">
        <span class="pull-left">Bathrooms</span>
        <span class="qty pull-right">3 </span>
   </li>
      
      
      
      
         
            
                                </ul>

                            </div>

                        </div>

                    </div>

               
						

                    <div class="span12 box-container">

                        <div class="holder row">

                            

							
	<a class="span4 overlay" href="http://demo.favethemes.com/wp/realto/property/1680-michigan-ave-miami-beach-33139-fl/" title="1680 Michigan Ave. Miami Beach, 33139 FL">
		<span class="more"></span>
                	<span class="prop-price-tag">$19,850/month</span>
        		            
			<img src="http://demo.favethemes.com/wp/realto/wp-content/uploads/2014/02/19051861-800x454.jpg" class="attachment-property-regular wp-post-image" alt="19051861" height="454" width="800">        
			</a>

                            

                            <span class="prop-tag">

								For Rent
                          	</span>

                            <div class="span8 prop-info">

                                <h3 class="prop-title">1680 Michigan Ave. Miami Beach, 33139 FL</h3>

                                <ul class="more-info clearfix">

                                       <li class="info-label clearfix">
        <span class="pull-left">Bedrooms</span>
        <span class="qty pull-right">2 </span>
    </li>
            <li class="info-label clearfix">
        <span class="pull-left">Bathrooms</span>
        <span class="qty pull-right">2 </span>
   </li>
      
      
      
      
         
            
                                </ul>

                            </div>

                        </div>

                    </div>

               
						

                    <div class="span12 box-container">

                        <div class="holder row">

                            

							
	<a class="span4 overlay" href="http://demo.favethemes.com/wp/realto/property/4100-alton-road-miami-beach-33139-fl/" title="4100 Alton Road Miami Beach, 33139 FL">
		<span class="more"></span>
                	<span class="prop-price-tag">$2,500,000</span>
        		            
			<img src="http://demo.favethemes.com/wp/realto/wp-content/uploads/2014/02/Miami-Property-search-800x454.jpg" class="attachment-property-regular wp-post-image" alt="Miami-Property-search" height="454" width="800">        
			</a>

                            

                            <span class="prop-tag">

								For Sale
                          	</span>

                            <div class="span8 prop-info">

                                <h3 class="prop-title">4100 Alton Road Miami Beach, 33139 FL</h3>

                                <ul class="more-info clearfix">

                                       <li class="info-label clearfix">
        <span class="pull-left">Bedrooms</span>
        <span class="qty pull-right">3 </span>
    </li>
            <li class="info-label clearfix">
        <span class="pull-left">Bathrooms</span>
        <span class="qty pull-right">2 </span>
   </li>
      
      
      
      
         
            
                                </ul>

                            </div>

                        </div>

                    </div>

               
                      

			   
            </div>

            <!-- .row -->

        </div>

        <!-- .span12 -->

        

    </div>

    <!-- .row -->

</div>

<!-- .container -->



<!-- Page Content -->

<div class="container">

    <div class="row">

	
                            

            
                

     
     
	</div>

</div>
