<div class="container page-content">
    <div class="row">
        <%= render :partial => 'photo_collection', object: @location %>
        <!-- .span8 -->
        
        <div class="span4">
            <%= render :partial => 'map_box', object: @location %>
            <%= render :partial => 'agent_box' %>
            <!-- .agent-box -->
            
        </div>
        <!-- .span4 -->
    </div>
    <!-- .row -->
</div>

